aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: #10ac84;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  border: none;
  background: #0f7e62;
  border-radius: 1.6rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
}

aside.sidebar footer button:hover {
  background: #149474;
}

.with-sidebar {
  padding-left: 110px;
}